# Orgparser changelog

Changelog of Orgparser

{{#tags}}
  ## [{{name}}](https://github.com/spacecowboy/orgparser/releases/tag/{{name}})
  {{#issues}}
	{{#hasIssue}}
	  {{#hasLink}}
	    ### [{{issue}}]({{link}}) {{title}}
	  {{/hasLink}}
	  {{^hasLink}}
	    ### {{issue}} {{title}}
	  {{/hasLink}}
	{{/hasIssue}}

	{{#commits}}
	  **{{{messageTitle}}}**

	  {{#messageBodyItems}}
	    * {{.}}
	  {{/messageBodyItems}}

	  [{{hash}}](https://github.com/spacecowboy/orgparser/commit/{{hash}}) {{authorName}} *{{commitTime}}*

	{{/commits}}

  {{/issues}}
{{/tags}}
